$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$btn-background: orange;

$header-bg-clr: #121212;
$home-bg-clr: #ffffff;

$graphic-node-clr: #fae3ba;

$font-stack: Calibri, sans-serif;
$beige-color: #e8d5ba;
$orange-color: #dd8e53;
$brown-color: #705248;
$light-blue-color: #dff2f4;
$blue-color: #678ca4;
$dark-blue-color: #2f4f62;