
#mask{
    display: none;
}

#register {
    display: none;
}
#login, #register{
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.4);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        background: url("../img/login-wrapper.png") no-repeat;
        background-size: 100% 100%;
        padding: 1% 0 0 0;
        height: fit-content;
        max-width: 400px;
        border-radius: 20px;
        position: relative;
    }
    &__close{
        background: transparent;
        color: #ffffff;
        border: none;
        font-size: 1.5em;
        position: absolute;
        top: 4%;
        right: 30px;
        transition: ease .1s;
        &:hover{
            transform: scale(1.2);
            cursor: pointer;
        }
        i{
            color: #ffffff;
        }
    }
    &__form{
        padding: 35px;
        display: flex;
        gap: 1.2em;
        flex-direction: column;
        h2{
            text-align: center;
            font-size: 2em;
            color: $brown-color;
            text-shadow: none;
            border-style: none;
        }
        input{
            width: 100%;
            height: 50px;
            background-color: transparent;
            border: none;
            border-bottom: solid 2px $brown-color;
            outline: none;
            text-shadow: none;
            color: $brown-color;
            font-size: 1.2em;
            &:focus~label{
                outline: none;
                top: -63px;
            }
            &::placeholder{
                color: #a57f72;
                text-shadow: none;
            }
        }
        button{
            height: 50px;
            width: 100%;
            font-size: 1.2em;
            text-shadow: none;
            background-color: rgba($color: #000000, $alpha: 0.4);
            border-radius: 25px;
            outline: none;
            border: none;
            color: whitesmoke;
        }
        label{
            position: absolute;
            top: 70px;
            left: 0;
            transition: ease .2s;
            // z-index: -5516;
            color: $brown-color;
            text-shadow: none;
            font-weight: bold;
        }
        p{
            text-align: center;
            color: $brown-color;
            text-shadow: none;
            font-weight: bold;
        }
        a{
            color: $brown-color;
            text-shadow: none;
            text-decoration: underline;
        }
    }
}

.login__input, .register__input {
    position: relative;
    overflow: hidden;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: end;
}

#lmail-icon-wrapper, 
#lpwd-icon-wrapper,
#rmail-icon-wrapper, 
#rpwd-icon-wrapper,
#rcpwd-icon-wrapper {
    position: absolute;
    bottom: 0;
    right: 2px;
    color: $brown-color;
    text-shadow: none;
    z-index: 150;
    width: 25px;
    height: 50px;
    & i {
        position: absolute;
        left: 0;
        top: 20px;
        text-shadow: none;
      font-weight: bold;
    }
}
#lmail-icon, #lpwd-icon,
#rmail-icon, #rpwd-icon, #rcpwd-icon {
    opacity: 1;
    z-index: 1;
    color: $brown-color;
}
#valid-lmail, #valid-lpwd,
#valid-rmail, #valid-rpwd, #valid-rcpwd {
    opacity: 0;
    z-index: 2;
    color: green;
}
#invalid-lmail, #invalid-lpwd,
#invalid-rmail, #invalid-rpwd, #invalid-rcpwd {
    opacity: 0;
    z-index: 3;
    color: red;
}

#valid-login, #valid-register {
    transition: transform .3s ease-in-out;
}
#valid-login:not(:disabled):hover,
#valid-register:not(:disabled):hover {
    transform: scale(1.05);
}
#valid-login:disabled,
#valid-register:disabled {
    opacity: .4;
}
