#level-body {
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    left: 70%;
}

#map__border {
    position: absolute;
    top: 0;
    left: 70%;
    z-index: 4;
    width: 30%;
    height: 100vh;
}

#level-footer {
    position: absolute;
    bottom: 0;
    left: 13%;
    width: 57%;
    height: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile-only-landscape {
        height: 12vh;
    }
}

#level-nav {
    width: 13%;
    height: calc(100% - 1em);
    padding: .5em 0 .5em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include mobile-only-landscape {
        height: calc(100% - .5em);
        padding: .25em 0 .25em 0;
    }
}

#start, #exit {
    width: 100%; 
    height: 45%; 
    z-index: 23;
    font-size: 1em;
    font-weight: 900;
    color: #1c1c1c;
    outline: 4px solid #44240d;
    text-shadow: none;
    border: none;
    border-radius: .6em;
    background-color: rgb(225, 148, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include mobile-only-landscape {
        font-size: .7em;
        outline: 2px solid #44240d;
    }
}

#start, 
#exit,
#txt__btn {
    text-shadow: none;
    transition: transform .4s cubic-bezier(0.215, 0.610, 0.355, 1);
}
#start:hover, 
#exit:hover,
#txt__btn:hover {
    transform: scale(1.06);
}

#exit {
    bottom: calc(1% + 5px); 
}

#start {
    bottom: calc(1% + 75px); 
}

#draw {
    height: 100vh;
}

#bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    z-index: -5;
}

#perso {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35%;
    height: auto;
    max-width: 300px;
    max-height: 320px;
    z-index: -2;
    @include mobile-only-landscape {
        width: 150px;
        height: 150px;
    }
}

.graphicNode {
    background-color: $graphic-node-clr;
    z-index: 3;
    cursor: pointer;
}

#graphic-nodes__wrapper {
    position: absolute; 
    top: 5%;
    left: 1%;
    width: 65%;
    height: fit-content; 
    min-height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}
#graphic-nodes__wrapper,
.txt__wrapper {
    border: 4px solid #44240d;
    border-radius: .6em;
    background-color: rgba(213,171,126,.9);
}

#graphic-dropzone__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;
}

.dropZone {
    position: absolute;
    min-width: 42px;
    min-height: 42px;
    width: fit-content;
    height: fit-content;
    border-radius: .6em;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropZone::before {
    position: absolute;
    content: "";
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    outline: 2px solid #1c1c1c;
    border-radius: .6em;
    background-color: $graphic-node-clr;
}


#txt__btn {
    width: 30px;
    height: 30px;
    background-color: rgb(225, 148, 4);
    color: #1c1c1c;
    border: 2px solid #1c1c1c;
    font-size: 1em;
    font-weight: 900;
    border-radius: 50%;
    cursor: pointer;
    @include mobile-only-landscape {
        width: 20px;
        height: 20px;
    }
}
#txt__btn:disabled {
    opacity: .5;
}
#txt {
    width: calc(100% - 20px);
    height: 100%;
    font-size: 1em;
    font-weight: 900;
    text-shadow: none;
    color: #44240d;
    @include mobile-only-landscape {
        font-size: .7em;
    }
}
.txt__wrapper {
    width: calc(85% - 1em);
    height: calc(85% - 1em);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    padding: .5em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @include mobile-only-landscape {
        font-size: .8em;
    }
}