#map {
    position: absolute;
    top: 0;
    left: 70%;
}

#draw {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

#bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    z-index: -5;
}

#perso {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 320px;
    z-index: -2;
}

.graphicNode {
    background-color: $graphic-node-clr;
    z-index: 3;
}

#graphic-nodes__wrapper {
    top: 5%;
    left: 1%;
    width: 65%;
    height: fit-content; 
    min-height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}
#graphic-nodes__wrapper,
.txt__wrapper {
    position: absolute; 
    border: 4px solid #44240d;
    border-radius: .6em;
    background-color: rgba(213,171,126,.5);
}

#graphic-dropzone__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: transparent;
}

.dropZone {
    position: absolute;
    min-width: 42px;
    min-height: 42px;
    width: fit-content;
    height: fit-content;
    /* border: 2px solid #1c1c1c; */
    border-radius: .6em;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropZone::before {
    position: absolute;
    content: "";
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    outline: 2px solid #1c1c1c;
    border-radius: .6em;
    background-color: $graphic-node-clr;
}


#txt__btn {
    width: 30px;
    height: 30px;
    background-color: orange;
    color: #1c1c1c;
    border: 2px solid #1c1c1c;
    font-size: 1em;
    border-radius: 50%;
}
#txt__btn:disabled {
    opacity: .5;
}
#txt {
    width: calc(100% - 20px);
    height: 100%;
}
.txt__wrapper {
    bottom: 1%;
    left: 15%;
    width: 50%;
    height: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    padding: .5em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}