#level-body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#game-zone {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: no-repeat url("../img/background.jpg");
    background-size: 100% 100%; 
}

#map-zone {
    width: 30%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
}


#map {
    position: absolute;
    top: 0;
    left: 0;
}

#map__border {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100vh;
}

#level-footer {
    position: absolute;
    bottom: 1%;
    right: 0;
    width: 84%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile-only-landscape {
        height: 12vh;
    }
}

#level-nav {
    width: 14%;
    height: calc(100% - 1em);
    padding: .5em 0 .5em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include mobile-only-landscape {
        height: calc(100% - .5em);
        padding: .25em 0 .25em 0;
    }
}

#start, #exit {
    width: 90%; 
    height: 45%; 
    z-index: 23;
    font-size: 1em;
    font-weight: 900;
    color: #1c1c1c;
    outline: 2px solid #1c1c1c;
    text-shadow: none;
    border: none;
    border-radius: .6em;
    background-color: rgb(225, 148, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include mobile-only-landscape {
        font-size: .7em;
        outline: 2px solid #44240d;
    }
}

#start, 
#exit,
#txt__btn {
    text-shadow: none;
    transition: transform .4s cubic-bezier(0.215, 0.610, 0.355, 1);
}
#start:not(:disabled):hover, 
#exit:hover,
#txt__btn:hover {
    transform: scale(1.06);
}

#start:disabled {
    opacity: .4;
    cursor: not-allowed;
}

#exit {
    bottom: calc(1% + 5px); 
}

#start {
    bottom: calc(1% + 75px); 
}

#draw {
    position: absolute;
    top: 0;
    left: 0;
}

#bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    z-index: -5;
}

#perso {
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 35%;
    height: auto;
    max-width: 300px;
    max-height: 320px;
    @include mobile-only-landscape {
        width: 150px;
        height: 150px;
    }
}

.graphicNode {
    border-radius: .6em;
    background-color: $graphic-node-clr;
    z-index: 3;
    cursor: pointer;
}

#level-header {
    position: absolute; 
    top: 1%;
    left: 1%;
    width: 98%;
    height: fit-content; 
    // min-height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#title-1,
#title-2, 
#title-3 {
    font-weight: bold;
    font-size: 1.1em;
    text-shadow: none;
}

#title-1{
    z-index: 3;
    margin: 3px 0 0 0;
    color: #44240d;
}

#title-2 {
    position: absolute;
    color: #44240d;
    top: 21%;
    left: 35%;
}

#title-3 {
    z-index: 7;
    margin: 2% 0 0 0;
    color: #ffffc7;
}

#graphic-nodes__wrapper {
    width: 95%;
    height: fit-content; 
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

#level-header,
.txt__wrapper,
#level-nav {
    border: 4px solid #44240d;
    border-radius: .6em;
    background-color: rgba(213,171,126,.9);
}

#graphic-dropzone__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

.dropZone {
    position: absolute;
    width: fit-content;
    height: fit-content;
    border-radius: .6em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease-in-out;
}

.drop {
    outline: none;
    background-color: transparent;
}

.notdrop {
    outline: 2px solid #1c1c1c;
    background-color: $graphic-node-clr;
}

#txt__btn {
    width: 30px;
    height: 30px;
    background-color: rgb(225, 148, 4);
    color: #1c1c1c;
    border: 2px solid #1c1c1c;
    font-size: 1em;
    font-weight: 900;
    border-radius: 50%;
    cursor: pointer;
    @include mobile-only-landscape {
        width: 20px;
        height: 20px;
    }
}
#txt__btn:disabled {
    opacity: .4;
    cursor: not-allowed;
}

#txt {
    width: calc(100% - 20px);
    height: 100%;
    font-size: 1em;
    font-weight: 900;
    text-shadow: none;
    color: #44240d;
    @include mobile-only-landscape {
        font-size: .7em;
    }
}
.txt__wrapper {
    width: calc(84% - 1em);
    height: calc(99% - 1em);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    padding: .5em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @include mobile-only-landscape {
        font-size: .8em;
    }
}